.lineText {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 20px;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #E53D19;
}

.lineText::before,
.lineText::after {
  content: "";
  height: 1px;
  display: block;
  background-color: #282828;
}

@media only screen and (min-width: 300px) {
  .lineText {
    font-size: 25px;
  }
}

@media only screen and (min-width: 500px) {
  .lineText {
    font-size: 28px;
  }
}

@media only screen and (min-width: 700px) {
  .lineText {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .lineText {
    font-size: 35px;
  }
}